{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <h5>Login to H-Buddy:</h5>
    <form class="needs-validation" novalidate action="/login" method="post">
        <div class="form-group">
            <input autocomplete="off" class="form-control" name="email" placeholder="Email" type="text" required>
        </div>
        <div class="form-group">
            <input autocomplete="off" class="form-control" name="password" placeholder="Password" type="password" required>
        </div>
        <button class="btn btn-primary" type="submit">Log In</button>
    </form>
{% endblock %}
